@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('/node_modules/source-sans/source-sans-3.css');

$heading1Size: 2.5em;
$heading2Size: 2.3em;
$heading3Size: 1.9em;
$heading4Size: 1.0em;

$lightBackgroundColor: #232323;
$darkBackgroundColor: #fffff9;

body {
  background-color: $darkBackgroundColor;
  height: 100%;
}

div.has-light-background {
    &, h1, h2, h3, h4 {
        color: $lightBackgroundColor;
    }
}

div.has-dark-background {
    &, h1, h2, h3, h4 {
        color: $darkBackgroundColor;
    }
}

h1, h2, h3, h4, h5 {
  font-weight: bolder;
  text-transform: uppercase;
}

h1 {
  font-size: $heading1Size;
}

h2 {
  font-size: $heading2Size;
}

h3 {
  font-size: $heading3Size;
}

h4 {
  font-size: $heading4Size;
}
